{% extends 'events/base.html' %}

{% block title %}Задание: {{ task.title }}{% endblock %}

{% block content %}
<div class="form-card fade-in">
    <h2 class="section-title">Ответ на задание</h2>
    <p><strong>{{ task.title }}</strong></p>
    <p>{{ task.description }}</p>
    <form method="post">
        {% csrf_token %}
        <label for="code">Ваш ответ:</label>
        <input type="text" name="code" id="code" class="input" required>
        <button type="submit" class="btn btn-green mt-2">Отправить</button>
    </form>
    <a href="{% url 'event-user-tasks' event.id %}" class="btn btn-outline mt-3">Назад</a>
</div>
{% endblock %}
